<%provide(:title, 'Blog page')%>
<div class="left-side col-xs-12 col-sm-12 col-md-8 col-lg-8">
  <article class="filter">
  	<header class="post-title"><p>FILTER:<a href="#"><span class="label label-default"> All</span></a><a href="#"><span class="label label-default">Iphone apps</span></a> <a href="#"><span class="label label-default">ruby</span></a> <a href="#"><span class="label label-default">Javascript</span></a> <a href="#"><span class="label label-default">web development</span></a> <a href=""><span class="label label-default">Japanese</span></a></p></header>
  </article>

    <article>
	  <div class="blog-entry post-text">    
	        <div class="post-title"> <h3>Post Entry Title</h3></div>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
	        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
	        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
	        Aliquam in felis sit amet augue.</p>

	       <a href="#" class="entry-link">  <p class="lead">Continue Reading...</p></a>
	        <p class="pull-right">
	          <a href="#"><span class="label label-default">keyword</span></a>
	          <a href="#"><span class="label label-default">tag</span></a>
	          <a href="#"><span class="label label-default">post</span></a>
	        </p>
		        <ul class="list-inline">
		          <li><a href="#" class="post-link"><i class="glyphicon glyphicon-calendar"></i> 2 Days Ago</a></li>
		          <li><a href="#" class="post-link"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li>
		          <li><a href="#" class="post-link"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li>
		        </ul>
	  </div>
  </article>    
    <article>
	  <div class="blog-entry post-text">    
	        <div class="post-title"> <h3>Post Entry Title</h3></div>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
	        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
	        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
	        Aliquam in felis sit amet augue.</p>

	       <a href="#" class="entry-link"><p class="lead">Continue Reading...</p></a>
	        <p class="pull-right">
	          <a href="#"><span class="label label-default">keyword</span></a>
	          <a href="#"><span class="label label-default">tag</span></a>
	          <a href="#"><span class="label label-default">post</span></a>
	        </p>
		        <ul class="list-inline">
		          <li><a href="#" class="post-link"><i class="glyphicon glyphicon-calendar"></i> 2 Days Ago</a></li>
		          <li><a href="#" class="post-link"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li>
		          <li><a href="#" class="post-link"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li>
		        </ul>
	  </div>
  </article>    
    <article>
	  <div class="blog-entry post-text">    
	        <div class="post-title"> <h3>Post Entry Title</h3></div>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
	        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
	        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
	        Aliquam in felis sit amet augue.</p>

	       <a href="#" class="entry-link">  <p class="lead">Continue Reading...</p></a>
	        <p class="pull-right">
	          <a href="#"><span class="label label-default">keyword</span></a>
	          <a href="#"><span class="label label-default">tag</span></a>
	          <a href="#"><span class="label label-default">post</span></a>
	        </p>
		        <ul class="list-inline">
		          <li><a href="#" class="post-link"><i class="glyphicon glyphicon-calendar"></i> 2 Days Ago</a></li>
		          <li><a href="#" class="post-link"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li>
		          <li><a href="#" class="post-link"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li>
		        </ul>
	  </div>
  </article>      
  <article>
	     
	 		<div class="image-entry text-center">
	 			<%= link_to(image_tag('helloworld.png',{width: '550', height: '250', alt: 'hello world'}), {class: 'post-img'})%>
			</div>
			<div class="blog-entry"> 
			<div class="post-text">
		        <div class="post-title"> <h3>Post Entry Title</h3></div>
		        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
		        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
		        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
		        Aliquam in felis sit amet augue.</p>
		         <a href="#" class="entry-link">  <p class="lead">Continue Reading...</p></a>
		        <p class="pull-right">
		          <a href="#"><span class="label label-default">keyword</span></a>
		          <a href="#"><span class="label label-default">tag</span></a>
		          <a href="#"><span class="label label-default">post</span></a>
		        </p>
		        <ul class="list-inline">
		          <li><a href="#" class="post-link"><i class="glyphicon glyphicon-calendar"></i> 2 Days Ago</a></li>
		          <li><a href="#" class="post-link"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li>
		          <li><a href="#" class="post-link"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li>
		        </ul>
	        </div>
	  </div>
  </article>
</div><!--The end of leftside-->

<div class="right-side col-xs-12 col-sm-12 col-md-4 col-lg-4">    
  <aside class="side-panels">
  	<header class="post-title aside-title"> RECENT POSTS</header>
 	<div class="post-text">
		<a href="#"><p class="lead-row">sprite</p></a>
		<a href="#"><p class="lead-row">Hello World</p></a>
		<a href="#"><p class="lead-row">It's over</p></a>
	</div>
  </aside>
  <aside class="side-panels">
  	<header class="post-title aside-title"> Archives</header>
	<div class="post-text">
		<a href="#"><p class="lead-row">2014 <span class="label label-default">9000</span></p></a>
		<a href="#"><p class="lead-row">2013 <span class="label label-default">9000</span></p></a>
		<a href="#"><p class="lead-row">2012 <span class="label label-default">9000</span></p></a>
	</div>
  </aside>

  <aside class="side-panels">
  	<header class="post-title aside-title"> SOCIAL</header>
	<div class="side-image text-center">
	    <a class= "github" href="https://github.com/niquepg" target = "_blank"></a>
	    <a class= "googleplus" href="https://plus.google.com/u/0/112691597387228138752/about" target="_blank"></a>
		<a class= "linkedin" href="http://www.linkedin.com/pub/lonique-alexander/28/1b0/7a3" target="_blank"></a>
		<a class= "twitter" href="https://twitter.com/niquepg" target="_blank"></a>
	</div>
  </aside>
</div>