<h1>My Reading list</h1>


<p>Einstein: His Life and Universe by Walter Isaacson</p></hr>

<p>Steve Jobs by Walter Isaacson</p></hr>

<p>Dreams from My Father: A Story of Race and Inheritance</br>
by Barack Obama</p></hr>

<p>Prometheus in Bondage, or, All the Girls I Should Have Kissed</br>
by Kent D. Boklan</br>
(my cryptography professor @QC)</p>