<%provide(:title, 'Contact Page')%>
<div class="left-side col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <article>
      <div class="blog-entry post-text">    
            <div class="post-title"> <h3>Wait!</h3></div>
            <p>To send a message, you most first solve the programming exercise</p>
            var x=function(n){
                return n*n;
            }
            <p> where n=5</p>

      </div>
  </article>    

</div><!--The end of leftside-->

<div class="right-side col-xs-12 col-sm-12 col-md-6 col-lg-6">    

  <aside class="side-panels">
    <header class="post-title aside-title"> <h3>Contact Me</h3></header>
    <div class="contact col-lg-12">
        <form role="form">
            <div class="row">
                <div class="form-group col-xs-12 floating-label-form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 floating-label-form-group">
                    <label for="email">Email Address</label>
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 floating-label-form-group">
                    <label for="message">Message</label>
                    <textarea placeholder="Message" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12 floating-label-form-group">
                    <label for="name">Solution</label>
                    <input class="form-control" type="text" name="n" placeholder="What is n?">
                </div>
            </div>
         
            <div class="row">
                <div class="form-group col-xs-12">
                <a href="#" class="entry-link" type="submit"> <p class="lead">Send</p></a>
                   
                </div>
            </div>
        </form>
    </div>
  </aside>

</div><!-- end of rightside-->

