<%provide(:title, 'Japanese studies')%>
<h1 id= "content_about">Japanese</h1>
I am still studying Japanese in my personal time. Here is my very first Japanese presentation at LAGCC. <br/><br/>
<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/rScPEVAI5-8?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/rScPEVAI5-8?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
<h2 id= "content_about">Japanese video info</h2>
日本語:みなさん。　こんにちは！<br/>
はじめまして。 私はアレクサンダーです。 ラガーデイア大学の学生です。<br/>
二ねんせいです。せんこうはコンピユーターサイエイスです。<br/>
ニューヨークのクイーンズからきました。　アメリカ人のおとこのひとです。<br/>
私の好きなにほんのアーティストはm-floです。<br/>
どうぞよろしく　おねがいします。<br/>
さようなら！<br/><br/>
English: Everyone. Hello!<br/>
Hello. I'm Alexander. I'm a student at the University of Laguardia college. <br/>
I am a two year student. I am computer science major.<br/>
I'm from Queens, New York. I am an American People.<br/>
My favorite Japanese artists is m-flo.Thank you very much.<br/>
Goodbye!<br/><br/>