<%provide(:title, 'Leisure Time')%>

<h2 class= "content_about">Japanese studies</h2>
I love the Japanese culture. I took one year Japanese in High School and studied Japanese for two years in college.<br/>
<%= link_to('more details', jap_path)%>
<br /><br />
<!--
<h2 class= "content_about">My favorite quotes</h2>
I really enjoy reading quotes. One of my favorite quotes of all time is "There is nothing on this earth more to be prized than true friendship" by St. Thomas Aquinas.<br/>
<br /><br />
-->
<h2 class= "content_about">Reading List </h2>
I read a lot of books! 
<%= link_to('more details',readinglist_path)%>  